<h3>Educación</h3>

<table border="0">
  <tbody>

    <tr *ngFor="let education of Education">
      <td>{{ education.fecha }}</td>
      <td>{{ education.ubicacion }}</td>
    </tr>
    <tr *ngFor="let education of Education">
      <td>{{ education.puesto }}</td>
      <td></td>
    </tr>
    <tr *ngFor="let education of Education">
      <td>{{ education.empresa }}</td>
      <td></td>
    </tr>
    <tr *ngFor="let education of Education">
      <td>Logros:</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let education of Education">
      <td colspan="2">
        <ul>
          <li *ngFor="let logro of education.logros">
            {{ logro.descripcion }}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
