.skills-container {
  max-width: 400px;  
  margin: 0; 
  text-align: center;
  padding: 0;
}

.skills-container h2 {
  margin-bottom: 10px;  
  font-size: 16px;     
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 5px;  
  align-items: start;
}

.skill {
  background-color: #4dd0e1;
  padding: 5px 8px;   
  color: white;
  border-radius: 5px;  
  font-size: 10px;    
  font-weight: 500;
  text-align: center;  
}



  