<div class="interests-container">
    <h2>INTERESTS</h2>
    <div class="interests-grid">
      <div class="interest-item">IA</div>
      <div class="interest-item">Science</div>
      <div class="interest-item">Video Games</div>
      <div class="interest-item">Music</div>
      <div class="interest-item">Box</div>
      <div class="interest-item">Technology</div>
      <div class="interest-item">Computer</div>
      <div class="interest-item">Wifi</div>
      <div class="interest-item">Physics</div>
    </div>
  </div>
  